{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "sidebar.css" %}" />

<div class="sidebar-container">
  <li><a href="{% url 'staff:index' %}" class="sidebar-item">使用者系統</a></li>
  <li><a href="{% url 'customer:index' %}" class="sidebar-item">客戶系統</a></li>
  <li><a href="{% url 'transaction:index' %}" class="sidebar-item">交易系統</a></li>
  <li><a href="{% url 'account:index' %}" class="sidebar-item">帳戶系統</a></li>
  <li><a href="{% url 'preset:index' %}" class="sidebar-item">洗錢防制條件設定</a></li>
  <!-- <li><a href="{% url 'recognize:index' %}" class="sidebar-item">辨識系統</a></li>
  <li><a href="{% url 'earlyknow:index' %}" class="sidebar-item">預警系統</a></li> -->
</div>